<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">subtitle</th>
            <th scope="col">content</th>
            <th scope="col">author</th>
            <th scope="col">public_date</th>



            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let db of dataStudent; let  i = index ">
        <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{db.title}}</td>
            <td>{{db.subtitle}}</td>
            <td>{{db.content}}</td>
            <td>{{db.author}}</td>
            <td>{{db.public_date}}</td>

            <td><button type="button" class="btn btn-info" (click)="handleDetail(db._id)">Detail</button></td>
        </tr>


    </tbody>
</table>