<p>editpr works!</p>
<div class="container">
    <form>
        <div class="mb-3">
            <label for="textid" class="form-label">ID</label>
            <input type="text" class="form-control" id="textid">
        </div>
        <div class="mb-3">
            <label for="textname" class="form-label">Name</label>
            <input type="text" class="form-control" id="textname">
        </div>
        <div class="mb-3">
            <label for="textprice" class="form-label">Price</label>
            <input type="text" class="form-control" id="textprice">
        </div>
        <div class="mb-3">
            <label for="textdes" class="form-label">Des</label>
            <input type="text" class="form-control" id="textdes">
        </div>
        <div class="mb-3">
            <label for="textcolor" class="form-label">Color</label>
            <input type="text" class="form-control" id="textcolor">
        </div>
        <div class=" mb-3">
            <label for="inputGroupFile04" class="form-label">IMG</label>
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Size</option>
                <option value="1">25x35</option>
                <option value="2">35x45</option>
                <option value="3">15x25</option>
              </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>